
VITE_PORT=3000 

# CLIENT SIDE
VITE_ENV=development # production or development or test
VITE_BACKEND_PROXY=http://localhost:5000/api/v1

# OAuth Credentials for Google and GitHub
VITE_CLERK_PUBLISHABLE_KEY=your-clerk-publishable-key
